stages:
  - lint
  - build
  - test

variables:
  CONDA_BLD_PATH: "${CI_PROJECT_DIR}/conda-bld"

lint:yaml:
  image: python:alpine
  stage: lint
  before_script:
    - pip install yamllint
  script:
    - yamllint meta/*.yml

build:debian:
  image: containers.ligo.org/docker/base:stretch
  stage: build
  dependencies: []
  before_script:
    - apt-get update
    - apt-get --assume-yes install equivs python3 python3-jinja2 python3-yaml
  script:
    - python3 generate.py
    - for i in stage/*/deb/; do ( cd $i; equivs-build control ); done
    - mkdir debs
    - for i in stage/*/deb/*.deb; do cp $i debs; done
  artifacts:
    expire_in: 3h
    paths:
      - debs

build:rhel:
  image: containers.ligo.org/docker/base:el7
  stage: build
  dependencies: []
  before_script:
    - yum --assumeyes install rpm-build rpmlint python34 python34-jinja2 python34-PyYAML
  script:
    - python3.4 generate.py
    - |
      for i in stage/*/rpm/*.spec; do
        rpmlint $i
        rpmbuild -ba --define "_topdir $CI_PROJECT_DIR/rpmbuild" $i
      done
    - mkdir rpms srpms
    - mv rpmbuild/RPMS/noarch/*.rpm rpms
    - mv rpmbuild/SRPMS/*.rpm srpms
  artifacts:
    expire_in: 3h
    paths:
      - rpms
      - srpms

build:conda:
  image: containers.ligo.org/docker/base:conda
  stage: build
  dependencies: []
  before_script:
    - conda install --yes conda-build "python>3.4" jinja2 pyyaml networkx
  script:
    - python generate.py
    - |
      for pkg in $(python build-order.py); do
        recipe_dir="stage/${pkg}/conda"
        echo "---------- Processing ${pkg}"
        conda render ${recipe_dir}
        conda build ${recipe_dir}
      done
  artifacts:
    expire_in: 3h
    paths:
      - conda-bld

test:debian:
  image: containers.ligo.org/docker/base:stretch
  stage: test
  dependencies:
    - build:debian
  script:
    - apt-get update
    - apt-get --assume-yes upgrade
    - dpkg -i debs/*.deb || apt-get --assume-yes -f install

test:rhel:
  image: containers.ligo.org/docker/base:el7
  stage: test
  dependencies:
    - build:rhel
  script:
    - yum --assumeyes update
    - yum --assumeyes localinstall rpms/*.rpm

test:conda:
  image: containers.ligo.org/docker/base:conda
  stage: test
  dependencies:
    - build:conda
  before_script:
    - conda install --yes networkx pyyaml
  script:
    - pkglist=$(python build-order.py)
    - conda create --name test --use-local ${pkglist}
    - conda list --name test
